div {
    &.inputfield, &selectfield{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0.25rem;
    
        input,
        select {
            width: 100%;
            border-radius: 20px;
            padding: 5px 20px;
        }
        .disabled {
            margin-top: 24px;
        }
    }
}